<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block target %}Real Title{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <script type="text/javascript">
        function wrt(x)
          {
          document.getElementById("razv").innerHTML=x;
          if (x!="") {document.getElementById("sver").innerHTML="Свернуть";}
          else {document.getElementById("sver").innerHTML=""; document.getElementById("razv").innerHTML="/Вернуть/";}
      }

</script>
</head>
<body>

<div id="wrapper">
    <section>
        <div id="inside">
            {% block content %}

            {% endblock %}

        </div>
    </section>
{#    <footer><div align="right"><span>Afisha project 2018</span></div></footer>#}
</div>

</body>
</html>